@font-face {
    font-family: RalewayRegular;
    src: url(../fonts/Raleway-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: RalewayMedium;
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: RalewaySemiBold;
    src: url(../fonts/Raleway-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}