*,*:before, *:after
    box-sizing: border-box
    margin: 0
html
    font-family: RalewayRegular, serif
    font-size: 1.125rem
    color: $dark
.container
    max-width: 66.625rem
    width: 100%
    margin: auto
    display: flex
    justify-content: space-between
a
    color: $dark
    text-decoration: none
.button
    border: none
    font-family: RalewaySemiBold
    font-size: 1.25rem
    color: $white
    cursor: pointer
    &-primary
        background: $dark
        border-radius: 40px