*,*:before, *:after
    box-sizing: border-box
    margin: 0
html
    font-family: RalewayRegular, serif
    font-size: 1.125rem
    color: $dark
.container
    max-width: 72.5rem
    width: 100%
    margin: auto
    display: flex
    justify-content: space-between
a
    color: $dark
    text-decoration: none