.header
    &-container
        padding-top: 2.25rem
        align-items: center
    &-logo
        padding-right: 80px
    &-menu
        display: flex
a
    font-family: RalewayMedium
    font-weight: bold
    